@import "fonts";
@import "variables.scss";
@import "reset.scss";

body{
    font-family: 'Montserrat';
    color: $textColor;
}

a{
    cursor: pointer;
    color: $textColor;
}

.container{
    width: 1200px;
    margin: 0 auto;
}



.form-auth span{
    font-size: 20px;
    color: $hoverColor;
    margin: 0 8px 0 0;
}

.form-auth p{
    margin-top: 12px;
    color: $error;
}

.input-field{
    margin-bottom: 28px;
    input{
        width:360px;
    }
}

.form-title{
    margin: 0 0 40px 0;
    font-size: 28px;
    font-weight: 500;
}

input{
    font-size: 18px;
}

input::placeholder{
    font-size: 14px;
}

.btn-auth{
    font-size: 16px;
    padding: 16px 0px;
    border-radius: 12px;
    background-color: $hoverColor;
    font-weight: 600;
    width: 100%;
    
    color: #fff;
    margin: 24px 0 20px 0;
    transition: 0.6s;
}

.btn-auth:hover{
    transition: 0.5s;
    background-color: $beigeColor;
    color: $textColor;
    
}



#forget{
    text-decoration: underline;
}

#forget:hover{
    text-decoration: none;
}